* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: teal;
    position: relative;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 5px 8px teal;
    color: white;
}

.nav_menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header li {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    transition: all .2s ease-in-out;
}

header li:hover {
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
    color:teal
}

header a {
    color: white;
}

header a:hover {
    color: teal;
}

.usrHeadImg{
    height: 50px;
    width: 50px; 
    border-radius: 50%;
}

.userImg{
    display: flex;
}

.userEmail{
    margin: 15px 10px;
}

  @media screen and (max-width:600px) {

    header {
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    header ul {
        transition: all .3s linear;
        position: fixed;
        width: 100%;
        bottom: -100%;
        left: 0;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 50px;
        box-shadow: 2px 2px 10px grey;
        background-color: #E6E7E8;
        border-radius: 15px 15px 0 0;
    }

    header ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        padding: 15px;
        color: #2f7cc9;
    }

    header ul li:hover {
        background-color: unset;
        color: lightgray;
    }

    header a {
        color: white;
    }

    header ul li:hover a {
        color: white;
    }

    .nav_toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
    }

    .close_icon {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        cursor: pointer;
        color: #2f7cc9;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
}

