.homeContainer{
    margin: 50px 150px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: teal;
    color: #f8f8ff;
    text-decoration: none;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .homeContainer a {
    -webkit-transition: color 2s;
    transition: color 2s;
    text-align: end;
    top: 0;
    left: 0;
    cursor:pointer;
    user-select: none;
    display: flex;
  }

  .homeContainer a:hover {
    color: black;
}

.actionBtn{
    display: flex;
    margin: 10px;
}
.showMore{
    margin-top: 10px;
    text-align: right;
}
.showMoreBtn{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: teal;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid teal;
    padding: 7px;
    border-radius: 4px;
}

.dropbtn {
  background-color: teal;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: teal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
  border-radius: 4px;
}

/* .dropdown-content:hover {
  background-color: teal;
} */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {
  background-color: teal;
  color: white;
}

.show {display: block;}